<!DOCTYPE html>
<html>
    <head>
        <title>Project Volunteer Tracker</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
      
    </head>
    <body>
    <div class="container">
    <h1>Project Volunteer Tracker</h1>
        <%= yield %>
    </div>
    </body>
</html>
