<h3>Currently available projects:</h3>

<% if @projects.any? %>
<table style="width:100%">
    <tr>
        <th>Project Title:</th>
    </tr>
    <% @projects.each do |project| %>
    <tr>
        <td><a href="/projects/<%= project.id %>"><%= project.title %></a></td>
    </tr>
    <% end %>
</table>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<a href="/projects/new">Add a new project</a>

<form action="/projects" method='post'>
        <label>
            Search
            <input name="search" type="text">
        </label>
    <button type="submit">Go!</button>
</form>
